{% extends 'base.html.twig' %}



{% block body %}


<div class="container mt-4">
        <h1>Nouvreau biens</h1>
        {{ include('admin_property/forms.html.twig', {form:form}) }}
</div>
{% endblock %}
